.footer{
    
    
    
    &__top{
        padding: 178px 0 80px;
        background: #1A3E3E;

    }

    &__inner{
        display: flex;
        flex-wrap: wrap;
        
        
    }

    &__item{
        position: relative;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }

        &-new{
           
            &::after{
                content: 'new';
                padding: 2px 10px;
                color: #1A3E3E;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                background-color: #fff;
                border-radius: 4px;
                margin-left: 8px;
            }
        }

        &-link{
            color: #FDFDFD;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            display: inline-block;
            padding-left: 14px;

            &::before{
                content: '';
                position: absolute;
                width: 6px;
                height: 10px;
                top:4px;
                left: 0;
                background-image: url('../images/footer-arrow.svg');
            }

            &:hover{
                text-decoration: underline;
                color: #F2BE22;

                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 10px;
                    top:4px;
                    left: 0;
                    background-image: url('../images/footer-arrow-yellow.svg');
                }
            }
        }
    }

    &__column{
        max-width: 280px;

        &-title{
            color: #F3F5F4;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 20px;
        }

        &-text{
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 80px;
        }
        &-link{
            text-decoration: underline;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            &:first-child{
                margin-right: 24px;
            }
        }


        

        &-one{
            max-width: 456px;
            margin-right: 62px;
        }

        &-three{
            margin-left: auto;
        }
    }

    &__bottom-block{
        &:first-child{
            margin-bottom: 32px;
        }
    }

    &__link{
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__bottom{
        padding: 24px 0;
        background: #18121E;

        &-inner{
            display: flex;
            justify-content: space-between;
        }

        &-name{
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: #fff;
        }

        &-personal{
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: #fff;
            text-decoration: underline;
        }
    }
}


@media (max-width:1216px){
    .footer{

        &__top{
            padding: 50px 0 80px;
        }

        &__bottom-block{


            &:last-child{
                margin-bottom: 50px;
            }
        }
    }
}


@media (max-width:768px){
    .footer{

        &__top{
            padding: 50px 0 80px;
        }

        &__inner{
            flex-direction: column;
            align-items: flex-start;
        }

        &__column{

            &-three{
                margin: 0;
                margin-top: 50px;
            }

            &-one{
                margin-right: 0;
            }

            &-text{
                margin-bottom: 30px;
            }
        }

        &__bottom-inner{
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
        }
    }
}