.form-news{
    // position: absolute;
    position: relative;
    bottom: -98px;
    width: 100%;
    padding: 40px 100px;

    border-radius: 6px;
    background: #FDFDFD;

   
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);

    &__title{
        font-size: 26px;
        line-height: 120%;
        font-weight: 800;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__block{
        max-width: 380px;
    }

    .form{
        max-width: 536px;
    }

    .input__title{
        font-size: 16px;
        color: #18121E;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .input{
        padding: 12px 16px;
        margin-right: 16px;
        max-width: 100%;
        border: none;
        border-radius: 4px;
        background: #F3F5F4;

        &::placeholder{
            color: #18121E;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
        }
    }

    .input__btn{
        padding: 12px 24px;
        border-radius: 4px;
        background: #1A3E3E;
        color: #FDFDFD;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.192px;
    }

    .personal__text{

        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        margin-top: 8px;

        a{
            text-decoration-line: underline;
        }
    }
}