.header{
    position: absolute;
    z-index: 5;
    width: 100%;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: flex;
        align-items: center;
        &__list{
            display: flex;
            gap: 0 24px
        }

        &__item{
            
            color: #FDFDFD;
            font-weight: 600;
            line-height: normal;
        }
        &-link{
            color: #FDFDFD;
            padding: 12px 24px;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            background: #1A3E3E;
            margin-left: 49px;
        }

    }


    .header__nav-btn{
        display: none;
    }
}


@media (max-width:1216px){
    .header{
        .menu{

            &__item{
                font-size: 14px;
            }

            &-link{
                font-size: 14px;
            }
        }
    }
}


@media (max-width:910px){
    .header{
        .menu{

            &__list{
                transform: translateY(-100%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: block;
                padding: 0 16px;
                padding-top: 50px;
                width: 100%;
                height: 100vh;
                background: #1A3E3E;
                transition: transform .5s ease-in;

                &--active{
                    transform: translateY(0);
                }
                
            }

            &__item{
                position: relative;
                margin-bottom: 16px;
                font-weight: 400;
                line-height: 18px;
                padding-left: 14px;
                &:last-child{
                    margin-bottom: 0;
                }

                

                &-link{

                    &:hover{
                        color: #F2BE22;
                        text-decoration: underline;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 6px;
                            height: 10px;
                            top:4px;
                            left: 0;
                            background-image: url('../images/footer-arrow-yellow.svg');
                        }
    
                    }

                    

                    &::before{
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 10px;
                        top: 4px;
                        left: 0;
                        background-image: url('../images/footer-arrow.svg');
                    }
                }

                
            }
            
            &-link{
                display: none;
            }
            .header__nav-btn{
                display: block;
                position: relative;
                z-index: 2;
                .nav-icon{
                    background-color: #fff;

                    &::before{
                        background-color: #fff;
                    }

                    &::after{
                        background-color: #fff;
                    }

                    &--active{
                        background-color: transparent;
                    }
                }
            }
        }
    }
}


@media (max-width:768px){
    .header{
        padding-top: 20px;
        .logo-icon{
            width: 84px;
            height: 44px;
        }
    }
}














/* Nav Icon */
.nav-icon-btn {
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 1px;
    --line-margin: 2;
    --color: #000;
  
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }
  
  .nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
  }
  
  .nav-icon::before,
  .nav-icon::after {
    content: '';
    display: block;
  
    position: absolute;
    left: 0;
  
    width: var(--width);
    height: var(--line-height);
  
    background-color: var(--color);
    transition: transform var(--time) ease-in,
    top var(--time) linear var(--time);
  }
  
  .nav-icon::before {
    top: calc(var(--line-height) * -8);
  }
  
  .nav-icon::after {
    top: calc(var(--line-height) * 8);
  }
  
  .nav-icon.nav-icon--active {
    background-color: transparent;
  }
  
  .nav-icon.nav-icon--active::before,
  .nav-icon.nav-icon--active::after {
    top: 0;
    transition: top var(--time) linear,
    transform var(--time) ease-in var(--time);
  }
  
  .nav-icon.nav-icon--active::before {
    transform: rotate(45deg);
  }
  
  .nav-icon.nav-icon--active::after {
    transform: rotate(-45deg);
  }