.photo{
    padding: 80px 0 0;
    position: relative;

    &__list{
        display: grid;
        grid-auto-rows: 3fr;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        
        // display: flex;
        
    }

    .swiper3{
        overflow: hidden;
        
    }

    &__descr{
        text-align: center;
    }

    &__title{
        text-align: center;
        margin-bottom: 40px;
    }

    &-link{
        font-size: 16px;
        color: #FDFDFD;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.192px;
        padding: 16px 36px;
        border-radius: 4px;
        background: #1A3E3E;
        display: block;
        max-width: 178px;
        margin: 50px auto 0;
    }
    
    &__item{
        position: relative;
        
    
        &-img{
            width: 100%;  
            // width: 280px;
            // height: 250px;
            // object-fit: cover;
            
        }
        

        &-overlay{
            position: absolute;
            
        }

       
    }

    &__item:nth-child(1){
        grid-column: 6 span;
    }

    &__item:nth-child(2){
        grid-column: 3 span;
    }
    &__item:nth-child(3){
        grid-column: 3 span;
    }

    &__item:nth-child(4){
        grid-column: 3 span;
    }

    &__item:nth-child(5){
        grid-column: 6 span;
    }

    &__item:nth-child(6){
        grid-column: 3 span;
    }

    &__item:hover{

        .photo__item-overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(26,62,62,.3);
            opacity: 1;
        }

        .photo__item-overlay::before{
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background-image: url(../images/gallery-look.svg);
            // background-image: url('../images/sprite/sprite/sprite.svg#gallery-look');
            top: 50%;
            left: 50%;
        }

    }

    // .photo__item-overlay{
    //     display: none;
    // }

}


@media (max-width:1216px){
    .photo{
        padding: 50px 0;

        &__descr{
            text-align: left;
        }

        &__title{
            text-align: left;
        }

        &-link{
            margin-bottom: 50px;
        }
    }
}


@media (max-width:769px){
    .photo{

        .swiper-slide{
            flex-shrink: 1;
        }

        &__item{
            
            &-img{
                width: 280px;
                height: 250px;
                object-fit: cover;
            }

            &-overlay{
                display: none;
            }
        }
        
        &__list{
            display: flex;
            gap:0;
        }
    }
}