<section class="blog">
    <div class="container">
        <div class="blog__inner">
            <p class="blog__descr descr">делимся впечатлениями</p>
            <h2 class="blog__title section-title">Блог о путешествиях</h2>
            <div class="blog__list-wrapper swiper2">
                <ul class="blog__list swiper-wrapper">
                    <li class="blog__item swiper-slide">
                        <img src="../../images/blog-1.avif" alt="" class="blog__item-img">
                        <div class="blog__item-block">
                            <h3 class="blog__item-title">
                                Красивая Италя, какая она в реальности?
                            </h3>
                            <p class="blog__item-text">
                                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                            </p>
                            <div class="blog__item-bottom">
                                <div class="blog__item-date">
                                    01/04/2023
                                </div>
                                <a href="#" class="blog__item-link">
                                    читать статью
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="blog__item swiper-slide">
                        <img src="../../images/blog-2.avif" alt="" class="blog__item-img">
                        <div class="blog__item-block">
                            <h3 class="blog__item-title">
                                Долой сомнения! Весь мир открыт для вас!
                            </h3>
                            <p class="blog__item-text">
                                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих усл
                            </p>
                            <div class="blog__item-bottom">
                                <div class="blog__item-date">
                                    01/04/2023
                                </div>
                                <a href="#" class="blog__item-link">
                                    читать статью
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="blog__item swiper-slide">
                        <img src="../../images/blog-3.avif" alt="" class="blog__item-img">
                        <div class="blog__item-block">
                            <h3 class="blog__item-title">
                                Как подготовиться к путешествию в одиночку? 
                            </h3>
                            <p class="blog__item-text">
                                Для современного мира базовый вектор развития предполагает.
                            </p>
                            <div class="blog__item-bottom">
                                <div class="blog__item-date">
                                    01/04/2023
                                </div>
                                <a href="#" class="blog__item-link">
                                    читать статью
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="blog__item swiper-slide">
                        <img src="../../images/blog-4.avif" alt="" class="blog__item-img">
                        <div class="blog__item-block">
                            <h3 class="blog__item-title">
                                Индия ... летим?
                            </h3>
                            <p class="blog__item-text">
                                Для современного мира базовый.
                            </p>
                            <div class="blog__item-bottom">
                                <div class="blog__item-date">
                                    01/04/2023
                                </div>
                                <a href="#" class="blog__item-link">
                                    читать статью
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#" class="blog-link">Другие материалы</a>
        </div>
    </div>
</section>