<section class="offer">
    <div class="container">
        <div class="offer__inner">
            <div class="offer__wrapper">
                <p class="offer__descr descr">наше предложение</p>
                <h2 class="offer__title section-title">
                    Лучшие программы для тебя
                </h2>
                <p class="offer__text">
                    Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
                </p>
                <ul class="offer__list">
                    <li class="offer__item">
                        <svg class="offer-icon offer-icon-one" >
                            <use href="../../images/sprite/sprite/sprite.svg#offer-1"></use>
                        </svg>
                        <!-- <img class="offer-icon" src="../../images/sprite/sprite/sprite.svg#offer-1" alt=""> -->
                        <div class="offer__item-block">
                            <h3 class="offer__item-title">Опытный гид</h3>
                            <p class="offer__item-text">
                                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                            </p>
                        </div>
                    </li>
                    <li class="offer__item">
                        <svg class="offer-icon offer-icon-2" >
                            <use href="../../images/sprite/sprite/sprite.svg#offer-2"></use>
                        </svg>

                        <div class="offer__item-block">
                            <h3 class="offer__item-title">
                                Безопасный поход
                            </h3>
                            <p class="offer__item-text">
                                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                            </p>
                        </div>
                    </li>
                    <li class="offer__item">
                        <svg class="offer-icon offer-icon-3">
                            <use href="../../images/sprite/sprite/sprite.svg#offer-3"></use>
                        </svg>
                        <div class="offer__item-block">
                            <h3 class="offer__item-title">Лояльные цены</h3>
                            <p class="offer__item-text">
                                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                            </p>
                        </div>
                    </li>
                </ul>
                <a href="#" class="offer-link">
                    Стоимость программ
                </a>
            </div>
            <div class="offer__photos">
                <img src="../../images/offer-1.webp" alt="">
                <img src="../../images/offer-2.webp" alt="">
                <img src="../../images/offer-3.webp" alt="">
                <img src="../../images/offer-4.webp" alt="">
            </div>
        </div>
    </div>
</section>