<section class="program">
    <div class="container">
        <div class="program__inner">
            <div class="program__video">
                <img class="program__image-one" src="../../images/program-1.webp" alt="">
                <div class="program__video-block">
                    <img class="program__image-two" src="../../images/program-2.webp" alt="">
                    <button class="play-btn"  data-fancybox="video" data-src="https://www.youtube.com/watch?v=jfKfPfyJRdk&ab_channel=LofiGirl">
                        <svg class="play-icon" width="22" height="22">
                            <use href="../../images/sprite/sprite/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="program__info">
                <p class="program__descr descr">о нашем походе</p>
                <h2 class="program__title section-title">
                    Исследуйте все горные массивы мира вместе с нами
                </h2>
                <p class="program__text">
                    Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.
                </p>
                <a href="#" class="program-link">Программа тура</a>
            </div>
        </div>
    </div>
</section>