<section class="top">
    <div class="container">
        <div class="top__inner">
            <div class="top__block">
                <h1>
                    Насладись прогулкой в горах
                    с командой единомышленников
                </h1>
                <form class="top-form">
                    <div class="dropdown">
                        <button class="dropdown__button" type="button">Локация для тура</button>
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item" data-value="russia">Россия</li>
                            <li class="dropdown__list-item" data-value="usa">США</li>
                            <li class="dropdown__list-item" data-value="british">Великобритания</li>
                        </ul>
                        <input type="text" name="" id="" class="dropdown__input-hidden">
                        <p class="dropdown__text">выберите из списка</p>
                    </div>
                    <div class="input__wrapper">
                        <div class="input__box">
                            <input class="input" type="date">
                            <input class="input" type="date">
                        </div>
                        <p class="dropdown__text">укажите диапазон</p>
                    </div>  

                    <div class="dropdown">
                        <button class="dropdown__button" type="button">Локация для тура</button>
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item" data-value="4">4</li>
                            <li class="dropdown__list-item" data-value="5">5</li>
                            <li class="dropdown__list-item" data-value="6">6</li>
                        </ul>
                        <input type="text" name="" id="" class="dropdown__input-hidden">
                        <p class="dropdown__text">выберите из списка</p>
                    </div>

                    <button class="form__btn" type="submit">Найти программу</button>
                </form>
            </div>
        </div>
    </div>
</section>